@model HospitalAppointmentProject1.ViewModels.ResetPasswordModel

<h1>Sifreni Sifirla</h1>
<hr />
<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary">Sifreni Sifirla</button>
</form>

