@model Doctor

@{
    ViewBag.Title = "Delete";
}
<p>
    Are you sure to delete <b>@Model.FirstName @Model.LastName </b>?
    <br />

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="DoctorId" />
        <button type="submit" class="btn btn-danger">Yes</button>
        <a asp-action="DoctorsList" class="btn btn-primary">No</a>
    </form>
</p>