@model Doctor

@{
    ViewBag.Title = "Delete";
}
<p>
    <b>@Model.FirstName </b> isimli doctoru silmek istediğinize emin misiniz?
    <br />

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="DoctorId" />
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hayir</a>
    </form>
</p>