@model Doctor

<h1>Doktur Güncelle</h1>
<hr />


<div class="row">
    <div class="col-8">
        <form asp-controller="Doctor" asp-action="Edit" method="post">
            <input type="hidden" asp-for="DoctorId">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">Ad</label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Soyadı</label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Specialty" class="form-label">Uzmanlık Alanı</label>
                <input asp-for="Specialty" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Degree" class="form-label">Ünvanı</label>
                <input asp-for="Degree" class="form-control" />
            </div>
            <button type="submit" class="btn btn-secondary">Kaydet</button>

        </form>
    </div>
    <div class="col-4">
        <h4>Randevulu Hastalar</h4>
        <hr />
        <ul>
            @foreach (var item in Model.Appointments)
            { 
                
                <li>@item.User.FullName</li>
            }
        </ul>
    </div>


</div>

